
body {
    background-color: #f0f8ff; /* AliceBlue background for a pleasant look */
}

button {
    background-color: #add8e6; /* LightBlue background for buttons */
    margin: 10px; /* Space between buttons */
    padding: 10px; /* Padding inside buttons */
}

/* Center aligning all buttons inside a container div, if not present, need to add in HTML */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
body { font-family: Arial, sans-serif; background-color: #f4f4f4; color: #333; }
header, footer { text-align: center; padding: 1em; background-color: #da8057; color: white; }
nav { padding: 1em; background-color: #eee; }
#content { margin: 50px; padding: 50px; border: 2px solid #a4d790; }
